.pure-wheel{
    display: flex;
    position: relative;

    height: 85vh;
    width: 100vw
}

.wheel{
    position: absolute;
    width: 500px;
    height: 500px;
    
}

.wheel:after{
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    background-size: 32px;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
}

.box{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
    border: 9px solid #000032;
    overflow: hidden;
    transition: all ease 3s;
    background-color: #fff;
}

.box b{
    padding: 8px;
}

span{
    width: 50%;
    height: 50%;
    display: inline-block;
    position: absolute;
}

.span1{
    clip-path: polygon(0 92%, 100% 50%, 0 8%);
    background-color: #A891F9;
    top: 120px;
    left: 0;
}
.span2{
    clip-path: polygon(100% 92%, 0 50%, 100% 8%);
    background-color: #07BAF3;
    top: 120px;
    right: 0;
}
.span3{
    clip-path: polygon(50% 0%, 8% 100%, 92% 100%);
    background-color: #C55ACA;
    bottom: 0;
    left: 120px;
}
.span4{
    clip-path: polygon(50% 100%, 92% 0, 8% 0);
    background-color: #ca9908;
    top: 0;
    left: 120px;

}

.box2{
    width: 100%;
    height: 100%;
    transform: rotate(-135deg);
}
span b{
    font-family: 'Roboto Condensed', sans-serif;
    width: 65px;
    height: 65px;
    line-height: 20px;
    color: rgb(228, 226, 226);
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spin{
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    box-shadow: 0 5px 10px #000;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;


}

.spin:active{
    width: 60px;
    height: 60px;
    font-size: 20px;
}

.wheel.animate:after{
    animation: animateArrow 0.7s ease infinite;

}

.loader {
    position: relative;
    width: 525px;
    height: 525px;
    border-radius: 50%;
    background: linear-gradient(#1DD2FF, #8891FF, #CA6AFF);
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#1DD2FF, #8891FF, #CA6AFF);
}

.loader span:nth-child(1) {
    filter: blur(5px);
}

.loader span:nth-child(2) {
    filter: blur(10px);
}

.loader span:nth-child(3) {
    filter: blur(25px);
}

.loader span:nth-child(4) {
    filter: blur(50px);
}

.loader:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #f1f1f1;
    border: solid white 10px;
    border-radius: 50%;
}

// custom element
.gradient-box {
    font-weight: 800;
    padding: 10px 20px;
    border-radius: 12px;
    width: 100%;
    max-width: 420px;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
    background: linear-gradient(90deg, #D085C3, #8D8BF8, #5E80FC);
    transition: all 0.3s linear;

    &:hover{
        cursor: pointer;
        transform: scale(0.9);
        letter-spacing: 8px;
    }

}