.content-modal{
    position: absolute;
    left: -100%;
    top: 10%;
    background-color: #e5e5e5d2;
    padding: 5px 0px;
    border-radius: 10px;
    border: 3px solid #04420d;
    max-width: 500px;
    transition: all 0.5s ease-in-out;

    &-li{
        padding-left: 20px;
        margin-bottom: 4px;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            top: 6px;
            left: 1px;
            height: 13px;
            width: 13px;
            background-image: url(../../../public/images/story-ball.png);
            background-position: center center;
            background-size: 100% 100%;
        }
    }

    &.active{
        left: 2%;
    }

    &-title{
        // font-weight: 700;
        color: #0A0963;
        text-transform: uppercase;
        border-bottom: 1px solid #015FA8;
        padding: 0 10px;
        text-align: center;
        font-size: 24px;
    }

    &-main{
        padding: 0 10px;
        text-align: justify;
        font-weight: 500;

        &--tokenomic{
            .content-modal-li{
                display: flex;
                align-items: center;
            }
        }
    }

    .roadmap-item{
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        .primary-gradient-text{
            font-size: 20px;
        }
        
        &--left{
            align-items: flex-start;
            span:last-child{
                font-size: 15px;
                text-align: left;
            }
        }


        &--right{
            align-items: flex-end;
            span:last-child{
                font-size: 15px;
                text-align: right;
            }
        }
    }

    .tokenomic-img{
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 20px 0;

        img{
            width: 450px;
            height: auto;
        }
    }
}


/* Mobile Only */
@media (max-width: 739px) {

    .content-modal{
        width: 300px;
        font-size: 12px;
        
        &.active{
            left: 50%;
            transform: translateX(-50%)
        }
    }

    .content-modal .roadmap-item{
        margin-bottom: 0;
    }

    .content-modal .roadmap-item .primary-gradient-text {
        font-size: 16px;
    }

    .roadmap-item span:last-child{
        font-size: 12px !important;
    }

    .content-modal-main{
        max-height: 54vh;
        overflow-y: auto;
    }

    .content-modal .tokenomic-img img{
        width: 290px;
    }
}