@import "../../scss/animations";

.gameplays{
    position: absolute;
    top: 58%;
    left: 0;
    width: 100%;

    padding: 10px 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: rgba(0, 0, 0, 0.557);
    
    transition: all 0.3s ease-in-out;
    animation: gameplay-list 1s ease-in-out;

    &-item{
        width: 16.66667%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        color: #fff;
        font-weight: 600;

        &-img{
            width: 96%;
            max-width: 100%;
            margin-bottom: 6px;
            
            img{
                border-radius: 10px;
                overflow: hidden;
                width: 180px;
                max-height: 180px;
                
                &:hover{
                    filter: drop-shadow(5px 5px 10px rgb(44, 241, 87));
                    cursor: pointer;
                    animation: wobble-top 1s linear;
                }
            }
        }

        &-title{
            color: rgb(3, 209, 3);
        }
    }
}