.island{
  position:absolute;
  top: 0;
  left: 0;
}

model-viewer {
  width: 100vw;
  height: 100vh;
  transition: all 0.3s linear;
}

.Hotspot {
  // background: #fff;
  position: relative;
  // background-image: url('../../../public/images/ball.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  border-radius: 32px;
  border: 0;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  cursor: pointer;
  height: 24px;
  width: 24px;
  padding: 0;

  &.story{
    background-image: url('../../../public/images/story-ball.png');
  }

  &.gameplay{
    background-image: url('../../../public/images/gameplay-ball.png');
  }

  &.about{
    background-image: url('../../../public/images/about-ball.png');
  }

  &.roadmap{
    background-image: url('../../../public/images/roadmap-ball.png');
  }

  &.tokenomic{
    background-image: url('../../../public/images/tokenomic-ball.png');
  }
}

.Hotspot:not([data-visible]) {
  background: transparent;
  border: 4px solid #fff;
  box-shadow: none;
  height: 32px;
  pointer-events: none;
  width: 32px;
}

.Hotspot:focus {
  // border: 4px solid rgb(0, 128, 200);
  // height: 32px;
  // outline: none;
  // width: 32px;
}

.Hotspot > * {
  opacity: 1;
  transform: translateY(-50%);
}

.HotspotAnnotation{
  border-radius: 4px;
  display: block;
  // transition: all 0.1s linear;
  left: calc(100% + 1em);
  position: absolute;
  top: 50%;
  height: 30px;
}

.Hotspot:not([data-visible]) > * {
  opacity: 0;
  pointer-events: none;
  transform: translateY(calc(-50% + 4px));
  transition: transform 0.3s, opacity 0.3s;
}


.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 2px solid #015FA8;
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: #4be7ffba;
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color:#4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}

.btn-back{
  position: absolute;
  left: 50%;
  bottom: 5%;
  height: 40px;
  border-radius: 10px;
  transform: translate(-50%);
  transition: all 0.3s ease;
  outline: none;

  &:hover{
    cursor: pointer;
    transform: scale(0.95) translate(-50%);
  }
}

.nav-mobile{
  position: absolute;
  top: 10%;
  left: -100%;
  transition: all 0.3s ease-in-out;

  &.active{
    left: 10%;
  }

  &-item{
    display: flex;
    padding: 2px 4px;
    margin-top: 4px;
    font-size: 14px;
    border-radius: 10px;
    font-weight: 500;

    &.story{
      background-color: rgba(255, 255, 255, 0.3);
    }

    &.gameplay{
      background-color: #f9dd0742;
      color: #983D11;
    }

    &.roadmap{
      background-color: #cce7ff73;
      color: #5992B3;
    }

    &.about{
      background-color: #beaefd73;
      color: #AF7FE7;
    }

    &.tokenomic{
      background-color: #95CAF1;
      color: #426385;
    }

    &-icon{
      height: 18px;
      margin-right: 4px;
    }
  }
}


/* Mobile Only */
@media (max-width: 739px) {
  .island{
    transform: scale(1.2);

    .btn-back{
      bottom: 19%;
    }

    .HotspotAnnotation{
      display: none;
    }
  }
}