
@media (min-width: 1000px) and (max-width: 1444px) {
    .mt-90{
        margin-top: 40px !important;
    }
}

/* PC real only */
@media (min-width: 1200px) {
    .hide-on-pc {
        display: none !important;
    }

}


/* PC only */
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none !important;
    }

}

/* Tablet to PC low resolution */

@media (min-width: 985px) and (max-width: 1200px) {
    .hidden-low-pc{
        display: none !important;
    }
}



/* Mobile & Tablet */
@media (max-width: 1023px) {
    .hidden-m-t {
        display: none !important;
    }
    .grid-4-1{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .grid-m-1{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .App{
        .betting-detail-banner{
            padding: 10px;
        }
    }
}

/* Tablet Only */

@media (min-width: 740px) and (max-width: 1023px) {
    .App{
        .hidden-t{
            display: none !important;
        }

        .staking .card-list-wrapper {
            width: 170vw;
        }
    }
    
}

/* Mobile Only */
@media (max-width: 739px) {

    .App{
        .gameplays{
            overflow-x: auto;
            justify-content: flex-start !important;

            &-item{
                width: 33% !important;
            }

            .primary-gradient-text{
                font-size: 11px;
                text-align: center;
            }
        }
        
        .staking .card-list-wrapper {
            width: 240vw;
        }
        
        .nft{
            margin-top: 10px;
        }
        
        .reward{
            margin-bottom: 10px;
        }
    }

}

/* 500*/
@media (min-width: 500px) and (max-width: 742px) {
    .hidden-500plus {
        display: none !important;
    }
}


@media (max-width: 500px) {
    .hidden-500{
        display: none !important;
    }
}

// Motherfucking Iphone 5S
@media (max-width: 375px) {
    .main-content{
        width: 100% !important;
    }
}

