@import './variables';
@import './animations';

// clear default element
input{
  outline:none;
  border:none;
}

.text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.red-text{
  color: #FF1F1F;
  font-weight: 600;
}

.centering{
  display: flex;
  align-items: center;
  justify-content: center;
}

ul{
    padding-left: 0;
    margin-bottom: 0;
}

li{
    list-style: none;
}

img{
    height: 100%;
    width: auto;
}

select:hover{
  cursor: pointer;
}

select:focus-visible,
input:focus-visible {
    outline: none;
}

button{
  border: none;
  background-color: unset;

  &:focus{
    outline: none;
  }
}

a{
  display: inline-block;
  color: unset;
  text-decoration: none;

  &:hover{
    text-decoration: none;
    color: unset;
  }
}

a:not([href]):not([tabindex]){
  color: #fff;
}

.primary-gradient-text{
  user-select: none;
  font-weight: 900;
  background-image: linear-gradient(90deg, #016710 10%, #578b50 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin: 0 4px;
}

.primary-text{
  color: #9FBE37;
}

.primary-button{
  padding: 6px;
  border-radius: 50px;
  background-color: #9FBE37;

  color: #fff !important;
  font-weight: 600;
  width: 100%;

  font-size: 18px;

  &:hover{
    cursor: pointer;
    opacity: 0.9;
  }
}

.main-bg{
  background: url(../../public/images/bg.png) center center no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
  width: 100vw;

}

.password-block{
    display: flex;
    position: relative;

    &-icon{
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);

        i{
            font-size: 16px;
            color: #ddd;
        }

        &:hover{
            cursor: pointer;

            i{
                color: #0FBEDC;
            }
        }
    }
}