@import './variables';
@import './animations';

// clear default element
input{
  outline:none;
  border:none;
}
.text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.red-text{
  color: #FF1F1F;
  font-weight: 600;
}

.centering{
  display: flex;
  align-items: center;
  justify-content: center;
}

ul{
    padding-left: 0;
    margin-bottom: 0;
}

h4{
  margin-bottom: 0;
}

li{
    list-style: none;
}

img{
    height: 100%;
    width: auto;
}

select:hover{
  cursor: pointer;
}

select:focus-visible,
input:focus-visible {
    outline: none;
}

button{
  border: none;
  background-color: unset;

  &:focus{
    outline: none;
  }
}

a{
  display: inline-block;
  color: unset;
  text-decoration: none;

  &:hover{
    text-decoration: none;
    color: unset;
  }
}

a:not([href]):not([tabindex]){
  color: #fff;
}

.primary-gradient-text{
  user-select: none;
  font-weight: 900;
  background-image: linear-gradient(90deg, #F7AB22 10%, #ffcc00c1 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin: 0 4px;
}

.gray-gradient-text{
  user-select: none;
  font-weight: 900;
  background-image: linear-gradient(90deg, #fff 10%, #ddd 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin: 0 4px;
}

.primary-text{
  color: #9FBE37;
}

.primary-button{
  padding: 4px 6px;
  border-radius: 10px;
  background-color: #A1E76F;

  color: #fff !important;
  font-weight: 600;
  width: 100%;

  text-align: center;

  &:hover{
    cursor: pointer;
    opacity: 0.9;
  }
}

.second-button{
  padding: 4px 6px;
  border-radius: 10px;
  background-color: #ED8308;

  color: #fff !important;
  font-weight: 600;
  width: 100%;

  text-align: center;

  &:hover{
    cursor: pointer;
    opacity: 0.9;
  }
}

.main-bg{
  background: url(../../public/images/bg.png) center center no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
}

.password-block{
    display: flex;
    position: relative;

    &-icon{
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);

        i{
            font-size: 16px;
            color: #ddd;
        }

        &:hover{
            cursor: pointer;

            i{
                color: #0FBEDC;
            }
        }
    }
}

.price{
  font-weight: 700;
  color: #ffd000;
}

.value{
  font-weight: 700;
  color: #A1E76F;
}

.value-block{
  padding: 2px 6px;
  border-radius: 4px;
  background-color: #A1E76F;

  font-weight: 600;

  i{
    margin-right: 6px;
    font-size: 14px;
  }
}

.title{
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.primary-block{
  background-color: #fff;
  border-radius: 40px;
  padding: 15px 30px;
  border: 3px solid #40192C;
}

.primary-table{
  width: 100%;

  th,
  td {
    text-align: center;
  }

  tr{
    padding: 8px 0;

    &:hover{
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.101)
    }
  }
}