.reward{
    height: 100%;
    
    &-item{
        margin: 5px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-title{
        font-weight: 600;
        font-size: 18px;
    }

    &-value{
        font-size: 22px;
        text-align: right;
    }
}